.button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 0;

  a {
    background: transparent;
    display: block;
    border-radius: 8px;
    padding: 1rem 1.75rem;
    font-size: 1rem;

    &:hover {
      backdrop-filter: brightness(0.85);
    }
  }

  @media only screen and (min-width: 1020px) {
    font-size: 1.25rem;
  }
}
