---
import type { Page } from "astro";
import BlogList from "../../components/blog/list";
import BlogPagination from "../../components/blog/pagination";
import Layout, { type Props as LayoutProps } from "../../layouts/Layout.astro";
import {
  getCollection,
  getEntryBySlug,
  type CollectionEntry,
} from "astro:content";

type Props = {
  page: Page<CollectionEntry<"blog">>;
};

export async function getStaticPaths({ paginate }: { paginate: Function }) {
  const posts = await getCollection("blog");
  const page = await getEntryBySlug("pages", "blog");
  return paginate(posts, {
    pageSize: "page_size" in page.data ? page.data.page_size : 6,
  });
}

const page = await getEntryBySlug("pages", "blog");
const frontmatter = page.data as LayoutProps;
const pagination = Astro.props.page;
const { data: posts } = pagination;
---

<Layout {...frontmatter}>
  <div class="py-[48px] md:py-[96px]">
    <h1
      class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-semibold text-center xl:mb-12"
    >
      {page.data.title}
    </h1>
    <section class="blog-index mx-auto flex justify-center">
      <BlogList posts={posts} />
      <BlogPagination pagination={pagination} />
    </section>
  </div>
</Layout>

<style>
  .blog-index {
    max-width: var(--pageContainer);
    padding-inline: var(--pagePadding);
  }
</style>
