/* This file controls the styling in the content editor, and declares the styles added by the content editor. */

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-justify {
  text-align: justify;
}
