---
import Styles from './styles.module.scss';
import Button from '../global/button/button.jsx';
const block = Astro.props;
---

<div class={Styles.hero}>
  <img class={Styles['hero__svg-img']} src={block.bg_image} alt="" />
  <div class={Styles['hero__wrapper']}>
    <h1>{block.heading}</h1>
    <p>{block.text}</p>
    <Button {...block.button} />
  </div>
</div>
