.blog-text h1,
.blog-text h2,
.blog-text h3,
.blog-text h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.blog-text h1 {
  font-size: 3rem;
  line-height: 3rem;
}
.blog-text h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.blog-text h3 {
  font-size: 2rem;
  line-height: 2rem;
}
.blog-text h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.blog-text p {
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}
.blog-text ul li {
  list-style: disc;
  padding-block: 0.125rem;
}
.blog-text a {
  color: blue;
  cursor: pointer;
}
.blog-text sup {
  vertical-align: super;
  font-size: smaller;
}
.blog-text sub {
  vertical-align: sub;
  font-size: smaller;
}
@media screen and (max-width: 768px) {
  .blog-text h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .blog-text h2 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  .blog-text h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .blog-text h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;

  .page-link {
    display: inline-block;
    padding: 20px 27px;
    margin: 0px 15px;

    font-weight: 600;
    font-size: 20px;

    border-radius: 20px;

    &.active {
      background: #034ad8;
      border-color: #034ad8;
    }

    svg {
      margin-right: -2px;
      color: #034ad8;
    }

    &:hover {
      svg {
        g {
          fill: #034ad8;
        }
      }
    }
  }
}

.blog-post-tag {
  margin-block: 1rem;

  a {
    background: #f1f1f1;
    border-radius: 6px;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 12px;
    color: #034ad8;
    font-weight: 500;
    margin-right: 1rem;
  }
}
