.markdown-text h1,
.markdown-text h2,
.markdown-text h3,
.markdown-text h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.markdown-text h1 {
  font-size: 3rem;
  line-height: 3rem;
}
.markdown-text h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.markdown-text h3 {
  font-size: 2rem;
  line-height: 2rem;
}
.markdown-text h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.markdown-text p,
.markdown-text a,
.markdown-text ol li,
.markdown-text ul li {
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.75rem;
}

.markdown-text p {
  margin-bottom: 1.5rem;
}
.markdown-text li p {
  margin-bottom: 0.125rem;
}
.markdown-text li {
  margin-bottom: 0.25rem;
}
.markdown-text blockquote {
  font-style: italic;
  border-left: 5px solid #000000;
  padding-inline: 1rem;
  margin-inline: 0;
  margin-block: 1rem;
}
.markdown-text ul li {
  margin-inline: 1rem;
  padding-block: 0.125rem;
  list-style: disc;
}
.markdown-text ol li {
  list-style-type: decimal;
  padding-block: 0.125rem;
  margin-inline: 1rem;
}
.markdown-text a {
  color: blue;
  cursor: pointer;
}
.markdown-text sup {
  vertical-align: super;
  font-size: smaller;
}
.markdown-text sub {
  vertical-align: sub;
  font-size: smaller;
}
.markdown-text code {
  background-color: #f4f4f4;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: black;
  margin-block: 1.5rem;
}
.markdown-text table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

.markdown-text table p {
  margin-bottom: 0;
  padding-block: 0.5rem;
}
.markdown-text th,
.markdown-text td {
  border: 1px solid #f2f2f2;
  padding: 0.5rem;
}
.markdown-text table caption {
  background-color: #f2f2f2;
}
.markdown-text table thead {
  background-color: #f2f2f2;
}
.markdown-text img {
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
}
.markdown-text hr {
  border: 0;
  border-top: 1px solid #928f8f;
  margin: 1.5rem 0;
}

.markdown-text pre {
  background-color: #f2f2f2 !important;
  color: black;
  margin-block: 1.5rem;
  padding: 1rem;
}
