@import 'variables';

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

html {
  font-family: system-ui, sans-serif;
  background: #f5f7fd;
  background-size: 224px;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

main {
  position: relative;
}

img {
  object-fit: cover;
  width: 100%;
}

h2 {
  font-size: 2rem !important;
  font-weight: bolder !important;
  margin-block: 1.5rem 0.25rem !important;
}
h3 {
  font-size: 1.5rem !important;
  margin-block: 1.5rem 0.25rem !important;
}

.button-primary {
  display: block;
  padding: 1rem 2rem;
  background-color: $color-primary !important;
  color: $color-white;
  letter-spacing: 0.1em;
  margin-inline: auto;
  margin-block: 64px;
}

.button-primary:hover {
  background-color: $color-primary-light !important;
}

.header,
.footer {
  padding: 2rem 1rem;
}

.logo {
  max-width: 200px;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .header {
    padding-block: 3.5rem;
  }

  .header-logo {
    left: 1rem;
    top: 1.5rem;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;

  .page-link {
    display: inline-block;
    padding: 20px 27px !important;
    margin: 0px 15px !important;

    font-weight: 600;
    font-size: 20px;

    border-radius: 20px !important;

    &.active {
      background: $color-primary !important;
      border-color: $color-primary !important;
    }

    svg {
      margin-right: -2px;
      color: $color-primary !important;
    }

    &:hover {
      svg {
        g {
          fill: $color-primary;
        }
      }
    }
  }
}

.blog-post-tag {
  margin-block: 1rem;

  a {
    background: $color-secondary-light;
    border-radius: 6px;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 12px;
    color: $color-primary;
    font-weight: 500;
    margin-right: 1rem;
  }
}
