---
import Icon from '../utility/icon';
const block = Astro.props;
---

<div
  class="flex items-center gap-4 px-4 py-2 rounded-lg shadow-md my-4"
  style={`background-color: ${block.background_color}; color: ${block.color};`}>
  <div class="w-[1rem]">
    <Icon icon={block.icon} />
  </div>
  <p class="!mb-0">{block.alert_message}</p>
</div>
