---
import { YouTube } from "astro-embed";
const block = Astro.props;
---

<div class="youtube-video">
  <YouTube
    id={block.video_link}
    poster={block.poster ?? ""}
    posterQuality={block.poster_quality ?? ""}
    params={block.params ?? ""}
    playlabel={block.playlabel ?? ""}
    title={block.title ?? ""}
  />
</div>

<style>
  .youtube-video {
    max-width: 100%;
    height: auto;
    margin: 3rem auto;
  }
</style>
