---
import PostSummary from "./summary.astro";
const { posts } = Astro.props;
---

<div class="blog-article-grid">
  {posts.map((post, i) => <PostSummary {...post} key={i} loading="eager" />)}
</div>
