---
const block = Astro.props;
---

{
  ENV_BOOKSHOP_LIVE ? (
    <h1 style="text-align: center;">
      This component breaks the visual previewer - this is a fallback message.
      The component is still editable, and builds on the real site.
    </h1>
  ) : (
    <swiper-container slides-per-view={block.number} loop="true">
      {block.slides.map((slide: any) => {
        return (
          <swiper-slide>
            {slide.text}
            <img src={slide.image} />
          </swiper-slide>
        );
      })}
    </swiper-container>
  )
}
