.left-right {
  position: relative;
  z-index: 10;
  display: flex;
  padding-inline: 1rem;
  padding-block: 36px;
  align-items: center;
  overflow: hidden;

  @media only screen and (min-width: 620px) {
    padding-inline: 24px;
    padding-block: 64px;
  }

  &__svg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9;
    right: 0;
    left: 0px;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
  }

  &__wrapper {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1280px;
    margin: 90px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media only screen and (min-width: 960px) {
      flex-direction: row;
      padding-inline: 48px;
    }

    @media screen and (min-width: 1020px) {
      padding-inline: 157px;
    }
  }

  &__text {
    @media only screen and (min-width: 1020px) {
      min-width: 50%;
    }
  }

  &__img {
    margin-top: 32px;
    min-width: 50%;
    max-width: 618px;

    @media only screen and (min-width: 1020px) {
      translate: 42px 24px;
    }
  }

  h2,
  p {
    color: inherit;
  }

  h2 {
    max-width: 620px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;

    @media only screen and (min-width: 1020px) {
      font-size: 3.25rem;
    }
  }

  p {
    font-weight: lighter;
    overflow-wrap: break-word;
    max-width: 840px;
    margin-bottom: 60px;
    line-height: 1.7rem;
    letter-spacing: 1px;

    @media only screen and (min-width: 1020px) {
      font-size: 1.25rem;
    }
  }
}
